<head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h2{
            font-size:27px;
            text-align: center;
            margin-top:43px;
            margin-bottom:50px;
        }

        img{
            display: block;
            width: 60%;
            margin: auto;
            border-radius: 10px;
            animation: showImage 3s ease 1s 1 normal forwards;
        }

        a{
            text-decoration: none;
        }

        .btn{
            font-size:21px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4vh;
            margin: 0;
        }

    @keyframes showImage {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }100% {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
	}
}
    </style>
</head>

<body>
    <h2 class="">Bad notices !</h2>  
    <h1 class=""><img src="./../img/node-error.png"/></h1>
    <h2 class=""><%= errorMessage %></h2>
    <a href="/" class="btn">Return to be safe !</a>
</body>


