.content-header h1 {
  font-family: "Anton", sans-serif;
}

.modal-header h5 {
  font-family: "Anton", sans-serif;
}

.modal-content {
  background: #336699;
}

.image{
  width:40px;
  height:40px;
}
